<script src="http://js.pusher.com/1.11/pusher.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<h4>You are in room <%= @channel.name %></h4>

<table class="chat-table">
  <% @chats.each do |chat| %>	
  	<tr>
      <td><%= @username == chat.username ? "You" : chat.username %></td>
  	  <td>:</td>
  	  <td><%= chat.message %></td>
    </tr>		
  <% end %>
</table>	

<br/>
<%= form_tag('/chats', :method => :post) do -%>
  <div><%= text_field_tag 'message'%><%= submit_tag 'Ok', :class => "submit-text", :style => "display:none;"%></div>
<% end -%>

<br/>
<div style="float:left;"><%= link_to 'Logout', logout_url %>&nbsp;</div>
<div style="float:left;"><%= link_to 'Change Room', '#', :class => 'change-room'%>
  <br/>
  <%= form_tag('/chats/change_room', :method => :post, :class => "change-room-form", :style => "display:none;padding-top:4px;") do -%>
    <div>
  	  <%= select_tag "channel", options_from_collection_for_select(@channels, "id", "name") %> 
  	  <%= submit_tag 'Ok' %>
    </div>
  <% end -%>
</div>

<script>
  var pusher = new Pusher('768124b90277f5c9ca27'); // Replace with your app key
  var channel = pusher.subscribe('<%= @channel.name %>');

  channel.bind('chatting', function(data) {
  	var username = '<%= @username %>' == data.username ? "You" : data.username;
  	var html='<tr><td>'+username+'</td><td>:</td><td>'+data.message+'</td></tr>';
  	$('.chat-table').append(html);
  });
  
  $('.submit-text').click(function() {
  	var dt = $(this).parents('form').serialize();
  	$.ajax({
      url: "/chats",
      type: "POST",
      data: dt,
      success: function() {
      	$('#message').val('');
      }
    });
  	return false;
  });


  $('.change-room').click(function() {
  	$('.change-room-form').toggle('slow');
  });
</script>